@import "./base";

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: all 0.4s ease-in-out;
  font-family: var(--bodyFontFamily);
}

a {
  color: var(--foreground-alt);
}

a:hover {
  color: var(--accent-dark);
}

img {
  max-width: unset;
  margin-bottom: auto;
}

hr {
  background-color: transparent;
  border-top: 1px dashed var(--light-grey);
  margin-bottom: 0;
}

/* Styles for small, independent components which don't have associated css module files */

.main-logo {
  height: 80px;
  width: 80px;
}
.light .main-logo-dark {
  display: none;
}
.dark .main-logo-light {
  display: none;
}

/* Grid system class */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

/* Basic HTML Styling */
.button__primary {
  background-color: var(--accent-dark);
  border: 0;
  color: var(--yellowish);
  padding: 6px 12px;
  border-radius: 2px;
  display: inline-block;
}

.button__primary:disabled {
  background-color: var(--light-grey);
}
.button__primary:not(:disabled):hover {
  color: var(--whiteish);
  background-color: var(--accent-light);
}

input,
textarea {
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid var(--accent-dark);
  background-color: var(--background-alt);
  color: var(--foreground);
}

*:focus {
  outline: 4px solid var(--accent-light);
  outline-offset: 2px;
}

a:focus,
a:active {
  background-color: var(--warning);
}

/* Responsive template */
/* Small Tablets */
@media screen and (min-width: 620px) {
}

/* Large tablets and laptops */
@media screen and (min-width: 960px) {
  .main-logo {
    margin: 1rem;
  }
}

/* Desktops */
@media screen and (min-width: 1200px) {
}
