.home-page {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  .line {
    font-family: var(--headerFontFamily);
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.indexPageSocials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.soFlair {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img{
      margin-bottom: 0;
  }
}

/* Large tablets and laptops */
@media screen and (min-width: 960px) {
  .home-page {
    .line {
      font-size: 2.4rem;
    }
  }
}
