.workCardsContainer {
  ul {
    display: flex;
    justify-content: space-evenly;
  }
}

.workCard {
  list-style-type: none;
  width: 12rem;
  height: 20rem;
  padding: 1rem;
  background: var(--foreground-alt);
  margin: 1rem;
  display: grid;
  place-items: center;
  img {
    width: 100%;
  }
  div {
    color: var(--background);
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem auto;
    display: block;
    text-align: center;
  }
  &:hover {
    opacity: 0.9;
  }
}
