/* Mobile styles */

.footer {
  /* margin-top: 3rem; */
  grid-column: span 12;
  grid-row: 3/4;
  font-size: 0.8rem;
  font-style: italic;
  // border-top: 1px solid var(--accent-light);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
}

.footer > div:first-child {
  margin-right: 1rem;
}

/* Large tablets and laptops */
@media screen and (min-width: 960px) {
  .footer {
    /* margin-top: 3rem; */
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    border-right: 1px solid var(--accent-light);
    flex-direction: column;
  }
}
