/* Mobile styles */
.header {
  grid-column: span 12;
  padding: 0 2rem;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-light);
}

.title {
  position: relative;
  width: 100px;
  height: 140px;
  margin-bottom: 2rem;
  svg {
    position: absolute;
    top: 10px;
    left: 0px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
}

.subtitle {
  font-size: 0.8rem;
  margin-bottom: 2rem;
  font-style: italic;
  text-align: center;
  display: none;
}

.menu {
  display: none;
  width: 100%;

}

.mobileMenu {
  position: fixed;
  top:0;
  width:100%;
  padding:2rem;
  background-color: var(--background);
  color: var(--foreground);
  border-bottom: 1rem solid var(--foreground-alt);
  &-closed {
    left: 100vw;
  }
  &-open {
    left:0;
  }
  .menu-close-button {
    position: absolute;
    right:1rem;
    top:1rem;
  }
  transition: all 0.1ms ease-in-out;
}

.menu-hamburger-icon {
  display: flex;
  align-items: center;
}

.inMenuThemeSwitcher {
  display: block;
  margin-bottom: 2rem;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 2rem 0;

  .nav-item {
    font-family: var(--headerFontFamily);
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  .nav-item:hover {
    color: var(--accent-dark);
  }

  .active {
    font-weight: bold;
    color: var(--accent-dark);
  }
}

.mainMenuSocials {
  width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  svg {
    width: 1.6rem;
    height: 1.6rem;
  }
  span {
    display: none;
  }
}

.mandala {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  animation: mandala-rotate 120s linear 0s infinite;
}

.mandala:hover {
  opacity: 0.8;
}
@keyframes mandala-rotate {
  from {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Large tablets and laptops */
@media screen and (min-width: 960px) {
  .header {
    grid-column: 1/4;
    grid-row: span 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0;
    border-right: 1px dashed var(--light-grey);
    height: auto;
  }
  .title {
    margin-top: 2rem;
    position: relative;
    width: 100px;
    height: 140px;
    svg {
      position: absolute;
      top: 66px;
      left: 8px;
    }
    img {
      position: absolute;
      top: 0;
      left: -15px;
      width: 120px;
      height: 120px;
    }
  }

  .theme-switcher {
    display: block;
    text-align: center;
    padding:2rem;
    display: flex;justify-content: center;
}

  .menu {
    display: block;
  }
  .nav-list {
    
    li:last-child {
      margin-bottom: 0;
    }
  }
  .menu-hamburger-icon {
    display: none;
  }

  .subtitle {
    display: block;
    width: 100%;
    text-align: left;
  }
}
