.container {
    margin: 0 auto;
    max-width: 64rem;
    // padding: 0 1rem;
    min-height: 100vh;
}

/* Mobile styles */
.theme-switcher {
    display: none;
}
.main {
    grid-column: span 12;
    padding:1.5rem;
}
/* Small Tablets */
@media screen and (min-width: 620px){

 
}

/* Large tablets and laptops */
@media screen and (min-width: 960px){
    .theme-switcher {
        display: block;
        grid-column: 11/13;
        grid-row: 1/2;
    }
    .main {
        grid-row: 2/3;
        grid-column: 4/13;
        padding: 2.5rem;
    }
}

/* Desktops */
@media screen and (min-width: 1200px){

}

