.socials {
    margin-top: 4rem;
    text-align: center;
    
    a {
        display: inline-flex;
        flex-direction: column;
        height: 6rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 0 0.5rem;
        // min-width: 5rem;
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
    } 
    a:hover {
        // background-color: var(--accent-lighter);
    }
    svg {
        width: 2rem;
        height: 2rem;
    }
}

.compact {
    a {
        width: 2.5rem;
        height: 2rem;
        margin: 0.5rem;
    }
    div {
        display: none;
    }
}