.theme-switcher {
  width: 3rem;
  height: 1.6rem;
  border-radius: 28px;;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  color: var(--foreground);
  background-color: var(--background);
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;

  &:hover{
    opacity: 1;
  }

  svg {
    height: 1rem;
    width: 1rem;
    z-index: 2;
  }
  
  .switch {
    width: 1.68rem;
    height: 1.68rem;
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    border:1px solid var(--foreground);
    background-color: var(--background-alt);
    &-light-theme {
      left: -1px;
    }
    &-dark-theme {
      right:0;
    }
  }
}

.switcher-border {
  border:1px solid var(--foreground);
}
 


.switch {
  // position: absolute;
  // top: 1rem;
  // left: 1rem;
  // display: flex;
  // align-items: center;
}
.switch input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.switch label {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 2.6rem;
  height: 1.2rem;
  background-color: var(--foreground);
  border: 2px solid var(--foreground);
  box-sizing: content-box;
  border-radius: 500px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.switch label:after {
  position: relative;
  display: inline-block;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  left: 0px;
  border-radius: 500px;
  background-color: var(--background);
  transition: 0.3s all ease-in-out;
}
.switch label:active:after {
  width: 1.5rem;
}

.switch input:checked + label {
  background-color: var(--background-alt);
  border: 2px solid var(--background-alt);
}
.switch input:checked + label:after {
  left: 100%;
  transform: translateX(-100%);
}

.sunIcon {
  position: absolute;
  left:2px;
}

.moonIcon {
  position: absolute;
  right:2px;
}