.theme-switcher {
  width: 3rem;
  height: 1.6rem;
  border-radius: 28px;;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  color: var(--foreground);
  background-color: var(--background);
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;

  &:hover{
    opacity: 1;
  }

  svg {
    height: 1rem;
    width: 1rem;
    z-index: 2;
  }
  
  .switch {
    width: 1.68rem;
    height: 1.68rem;
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s ease-in-out;
    border:1px solid var(--foreground);
    background-color: var(--background-alt);
    &-light-theme {
      left: -1px;
    }
    &-dark-theme {
      right:0;
    }
  }
}

.switcher-border {
  border:1px solid var(--foreground);
}
 