/* Mobile styles */

.footer {
  grid-column: span 12;
  grid-row: 3/4;
  font-size: 0.8rem;
  font-style: italic;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
  opacity: 0.5;
}

.footer > div:first-child {
  margin-right: 1rem;
}

/* Large tablets and laptops */
@media screen and (min-width: 960px) {
  .footer {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    border-right:1px dashed var(--light-grey);
    flex-direction: column;
  }
}
